<configuration>

   <appender name="KafkaAppender" class="ru.krista.fm.logbackkafkaappender.KafkaAppender">
       <encoder>
           <pattern>%msg</pattern>
       </encoder>

        <topic>logs</topic>
        <keyingStrategy class="ru.krista.fm.logbackkafkaappender.keying.HostNameKeyingStrategy" />
        <deliveryStrategy class="ru.krista.fm.logbackkafkaappender.delivery.AsynchronousDeliveryStrategy" />

        <producerConfig>bootstrap.servers=localhost:9093</producerConfig>
    </appender>
    <logger name="LogbackIntegrationIT" additivity="false" level="info">
        <appender-ref ref="KafkaAppender"/>
    </logger>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
